<div class="row top-bar">.</div>

<div class="containerBox">

  <div class="row">
    <div class="square square-left" (click)="goToFind()">CERCA</div>
    <div class="square square-right" (click)="goToCreate()">CREA</div>
  </div>

  <div class="row">
    <div class="square square-left" (click)="goToMyEvents()">MIEI EVENTI</div>
    <div class="square square-right" (click)="goToSettings()">IMPOSTAZIONI</div>
  </div>

</div>

<div class="container">
	<div class="row bottom-bar">
		<div class="col-xs-4 bottom-bar-element">Profilo</div>
		<div class="col-xs-4 bottom-bar-element">Messaggi</div>
		<div class="col-xs-4 bottom-bar-element">Notifiche</div>
	</div>
</div>
